/* line 4, static/css/style.scss */
.pushme {
  position: relative;
  font-weight: 700;
  background-color: #384D9D;
  border-radius: 0.6em;
  display: inline-block;
  margin: 0em; }
  /* line 11, static/css/style.scss */
  .pushme .inner {
    display: inline-block;
    background-color: #F6F3EB;
    border-radius: 0.6em;
    border: 0.3em solid #384D9D;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    transform: translate3d(0.6em, -0.6em, 0);
    transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 220ms; }
  /* line 25, static/css/style.scss */
  .pushme:active .inner, .pushme.click .inner {
    transform: translate3d(0, 0, 0);
    transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1); }

/* line 35, static/css/style.scss */
.uploadpushme {
  position: relative;
  font-weight: 700;
  background-color: #384D9D;
  text-align: center;
  border-radius: 0.6em;
  display: inline-block;
  margin: 0em; }
  /* line 43, static/css/style.scss */
  .uploadpushme .uploadinner {
    display: inline-block;
    background-color: #F6F3EB;
    border-radius: 0.6em;
    border: 0.3em solid #384D9D;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    transform: translate3d(0.6em, -0.6em, 0);
    transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 220ms; }
  /* line 57, static/css/style.scss */
  .uploadpushme:active .uploadinner, .uploadpushme.click .uploadinner {
    transform: translate3d(0, 0, 0);
    transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1); }

/* line 66, static/css/style.scss */
body {
  background: #F6F3EB !important;
  font-family: black-burger !important;
  color: #384D9D !important;
  font-size: 5vh;
  position: relative; }

/* line 74, static/css/style.scss */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  text-align: center;
  transform: translate3d(-50%, -50%, 0); }

/* line 83, static/css/style.scss */
.sig {
  position: fixed;
  bottom: 5px;
  right: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.4); }

/* line 94, static/css/style.scss */
.button {
  position: absolute;
  left: 7%; }

/* line 99, static/css/style.scss */
.uploadpagebutton {
  float: left; }

/* line 104, static/css/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 109, static/css/style.scss */
body {
  height: 100vh;
  position: relative; }

/* line 113, static/css/style.scss */
.ocrloader {
  width: 200px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden; }
  /* line 121, static/css/style.scss */
  .ocrloader span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(45, 183, 183, 0.54);
    z-index: 1;
    transform: translateY(135%);
    animation: move 1s cubic-bezier(0.15, 0.44, 0.76, 0.64);
    animation-iteration-count: infinite; }
  /* line 133, static/css/style.scss */
  .ocrloader > div {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48%;
    backface-visibility: hidden; }
  /* line 142, static/css/style.scss */
  .ocrloader i {
    display: block;
    height: 1px;
    background: #000;
    margin: 0 auto 2px;
    margin: 0 auto 2.2px;
    backface-visibility: hidden; }
    /* line 149, static/css/style.scss */
    .ocrloader i:nth-child(2) {
      width: 75%; }
    /* line 150, static/css/style.scss */
    .ocrloader i:nth-child(3) {
      width: 81%; }
    /* line 151, static/css/style.scss */
    .ocrloader i:nth-child(4) {
      width: 87%; }
    /* line 152, static/css/style.scss */
    .ocrloader i:nth-child(6) {
      width: 71%; }
    /* line 153, static/css/style.scss */
    .ocrloader i:nth-child(7) {
      width: 81%; }
    /* line 154, static/css/style.scss */
    .ocrloader i:nth-child(8) {
      width: 65%; }
    /* line 155, static/css/style.scss */
    .ocrloader i:nth-child(9) {
      width: 83%; }
    /* line 156, static/css/style.scss */
    .ocrloader i:nth-child(10) {
      width: 75%; }
    /* line 157, static/css/style.scss */
    .ocrloader i:nth-child(12) {
      width: 86%; }
    /* line 158, static/css/style.scss */
    .ocrloader i:nth-child(14) {
      width: 65%; }
    /* line 159, static/css/style.scss */
    .ocrloader i:nth-child(16) {
      width: 75%; }
    /* line 160, static/css/style.scss */
    .ocrloader i:nth-child(18) {
      width: 83%; }
  /* line 162, static/css/style.scss */
  .ocrloader:before, .ocrloader:after, .ocrloader em:after, .ocrloader em:before {
    border-color: #000;
    content: "";
    position: absolute;
    width: 19px;
    height: 16px;
    border-style: solid;
    border-width: 0px; }
  /* line 171, static/css/style.scss */
  .ocrloader:before {
    left: 0;
    top: 0;
    border-left-width: 1px;
    border-top-width: 1px; }
  /* line 177, static/css/style.scss */
  .ocrloader:after {
    right: 0;
    top: 0;
    border-right-width: 1px;
    border-top-width: 1px; }
  /* line 183, static/css/style.scss */
  .ocrloader em:before {
    left: 0;
    bottom: 0;
    border-left-width: 1px;
    border-bottom-width: 1px; }
  /* line 189, static/css/style.scss */
  .ocrloader em:after {
    right: 0;
    bottom: 0;
    border-right-width: 1px;
    border-bottom-width: 1px; }

@keyframes move {
  0%, 100% {
    transform: translateY(490%); }
  50% {
    transform: translateY(0%); }
  75% {
    transform: translateY(272%); } }

/* line 203, static/css/style.scss */
a {
  color: #384D9D; }

/* line 208, static/css/style.scss */
.card {
  background: #F6F3EB !important;
  border-radius: 0.6em;
  border: 0.1em solid #384D9D;
  text-align: center; }

/* line 214, static/css/style.scss */
.btn {
  color: #384D9D;
  font-weight: bold; }

/* line 218, static/css/style.scss */
.card-body {
  font-size: 15px; }

/* line 222, static/css/style.scss */
.eatencentral {
  text-align: center; }

/* line 226, static/css/style.scss */
.card-headerEatme {
  background: limegreen; }

/* line 229, static/css/style.scss */
.card-headerEat {
  background: fuchsia; }

/* line 232, static/css/style.scss */
.card-header2 {
  background: cornflowerblue; }

/* line 235, static/css/style.scss */
.card-header3 {
  background: lightpink; }

/* line 238, static/css/style.scss */
.card-header4 {
  background: deepskyblue; }

/* line 241, static/css/style.scss */
.card-header5 {
  background: salmon; }

/* line 244, static/css/style.scss */
.card-header6 {
  background: thistle; }

/* line 247, static/css/style.scss */
.card-header7 {
  background: lightpink; }

/* line 250, static/css/style.scss */
.card-header8 {
  background: peru; }

/* line 253, static/css/style.scss */
.card-headerOver {
  background: snow; }

/* line 258, static/css/style.scss */
.eatbutton {
  visibility: hidden; }

/* line 262, static/css/style.scss */
.showingeatbutton {
  font-weight: 700;
  background-color: #F6F3EB;
  text-transform: uppercase;
  padding: 20px;
  border: 4px solid #384D9D !important;
  border-radius: 20px;
  display: inline-block;
  transition: all 0.3s ease 0s; }

/* line 276, static/css/style.scss */
.showingeatbutton:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s; }

/* Once the browser targets #eat, the animation is triggered */
/* line 287, static/css/style.scss */
#eat:target {
  animation: play 0.4s steps(10) infinite; }

/* line 291, static/css/style.scss */
.monster {
  width: 190px;
  height: 240px;
  margin: 40px auto;
  background: url("https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/blog/monster.png") left center; }

@keyframes play {
  100% {
    background-position: -1900px; } }

/* line 302, static/css/style.scss */
.foodicon {
  width: 35px;
  height: 35px; }

/* line 309, static/css/style.scss */
.upload {
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
  font-size: 30px;
  background-image: linear-gradient(to bottom, #b6c5cc 50%, #c0e8b9 50%);
  background-position: 0% 0%;
  background-size: 230%;
  background-color: #b6c5cc;
  background-repeat: no-repeat;
  border: 6px solid #fff;
  border-radius: 50px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1), 0 3px 0 rgba(0, 0, 0, 0.075);
  cursor: pointer;
  height: 80px;
  left: 50%;
  margin: -43px;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 80px;
  transition: background 3s ease-in-out; }

/* line 335, static/css/style.scss */
.uploading {
  background-position: 0% 100%; }

/* line 339, static/css/style.scss */
span1 {
  margin-top: 16px;
  margin-left: -3px;
  transition: 0.1s 2s ease-in-out; }

/* line 345, static/css/style.scss */
.ok {
  position: absolute;
  left: 22px;
  top: 50px;
  opacity: 0; }

/* line 352, static/css/style.scss */
.bounce {
  animation: bounce 0.3s ease 2.5s forwards; }

/* line 356, static/css/style.scss */
.arrow-out {
  top: -20px;
  visibility: hidden; }

/* line 361, static/css/style.scss */
.upload_button {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.075);
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: #888;
  cursor: pointer;
  transition: 0.2s; }
  /* line 380, static/css/style.scss */
  .upload_button:active {
    box-shadow: 0 0 0;
    margin-top: 12px; }

@keyframes bounce {
  0% {
    top: 50px;
    opacity: 0; }
  80% {
    top: -5px; }
  100% {
    top: 0;
    opacity: 1; } }

/* line 402, static/css/style.scss */
.login_button {
  border: 10px;
  border-radius: 10px;
  background-color: #384D9D;
  color: #F6F3EB;
  width: 425px;
  font-weight: 500; }

/* line 411, static/css/style.scss */
.login_button:hover {
  background-color: #F6F3EB;
  color: #384D9D;
  font-weight: 800; }

/* line 417, static/css/style.scss */
.signup_button {
  position: relative;
  top: 30px;
  border: 10px;
  border-radius: 10px;
  background-color: #384D9D;
  color: #F6F3EB;
  width: 425px;
  font-weight: 500; }

/* line 428, static/css/style.scss */
.signup_button:hover {
  background-color: #F6F3EB;
  color: #384D9D;
  font-weight: 800; }

/* line 435, static/css/style.scss */
.customfoodaddbutton {
  position: relative;
  top: 30px;
  border: 10px;
  border-radius: 10px;
  background-color: #384D9D;
  color: #F6F3EB;
  width: 425px;
  font-weight: 500; }

/* line 445, static/css/style.scss */
.customfoodaddbutton:hover {
  background-color: #F6F3EB;
  color: #384D9D;
  font-weight: 800; }

/* line 451, static/css/style.scss */
.customfoodsheader {
  font-family: black-burger;
  color: #384D9D; }

/* line 460, static/css/style.scss */
.delete_foods {
  visibility: hidden; }

@font-face {
  font-family: 'MyWebFont';
  src: url("/static/font/webfont.ttf?c870b9567f6e") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'black-burger';
  src: url("/static/font/black-burger/black-burger.ttf?90ddd5f65256") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'noot';
  src: url("/static/font/Noot.ttf?3d7022e24cd9") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* line 486, static/css/style.scss */
.password-control-login {
  font-family: MyWebFOnt;
  width: 425px; }

/* line 491, static/css/style.scss */
.username-control-login {
  width: 425px;
  font-family: black-burger; }

/* line 496, static/css/style.scss */
.usernametag {
  font-family: black-burger;
  position: relative;
  top: 0px;
  left: 135px; }

/* line 504, static/css/style.scss */
.passwordtag {
  font-family: black-burger;
  position: relative;
  top: 0px;
  left: 135px; }

/* line 512, static/css/style.scss */
.notausertag {
  position: relative;
  top: 0px;
  left: 110px; }

/* line 518, static/css/style.scss */
.signup_username {
  font-family: black-burger; }

/* line 521, static/css/style.scss */
.signup_email {
  font-family: black-burger; }

/* line 525, static/css/style.scss */
.signup_password1 {
  font-family: MyWebFOnt; }

/* line 529, static/css/style.scss */
.signup_password2 {
  font-family: MyWebFOnt; }

/* line 534, static/css/style.scss */
.nav-logout-button {
  position: relative;
  top: 0px;
  left: 100px;
  border: 10px;
  border-radius: 10px;
  background-color: #384D9D;
  color: #F6F3EB;
  width: 425px;
  font-weight: 500;
  font-size: 12px;
  font-family: black-burger; }

/* line 547, static/css/style.scss */
.nav-logout-button:hover {
  background-color: #F6F3EB;
  text-decoration: none;
  color: #384D9D;
  font-weight: 800; }

/* line 555, static/css/style.scss */
li {
  display: inline; }

/* line 559, static/css/style.scss */
.clear-custom-foods-added {
  visibility: hidden; }

/* line 563, static/css/style.scss */
.hideeatenid {
  visibility: hidden; }

/* line 566, static/css/style.scss */
.foodnameinfridge {
  font-family: black-burger;
  color: #5c913b;
  font-size: 20px; }

/* line 572, static/css/style.scss */
.whenyouboughtit {
  position: relative;
  right: 100px;
  color: #de3e44; }

/* line 578, static/css/style.scss */
.showingeatbutton {
  position: relative;
  bottom: 50px; }

/* line 583, static/css/style.scss */
.whenyouboughtitreasult {
  position: relative;
  left: 90px;
  bottom: 30px; }

/* line 589, static/css/style.scss */
.fridgeitemcontainer {
  border: 2px;
  border-style: solid;
  border-color: #384D9D;
  border-radius: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  height: 150px; }

/* line 599, static/css/style.scss */
.username-control-login {
  border-radius: 10px; }

/* line 604, static/css/style.scss */
.password-control-login {
  border-radius: 10px; }

/* line 608, static/css/style.scss */
.signup_username {
  border-radius: 10px;
  width: 425px; }

/* line 612, static/css/style.scss */
.signup_email {
  border-radius: 10px;
  width: 425px; }

/* line 617, static/css/style.scss */
.signup_password1 {
  border-radius: 10px;
  width: 425px;
  font-family: MyWebFont; }

/* line 623, static/css/style.scss */
.signup_password2 {
  border-radius: 10px;
  width: 425px; }

/* line 628, static/css/style.scss */
.uploadtitlte {
  font-family: black-burger; }

/* line 631, static/css/style.scss */
.chosefilebuttons {
  position: relative;
  top: 30px;
  border: 10px;
  border-radius: 10px;
  background-color: #384D9D;
  color: #F6F3EB;
  width: 600px;
  font-weight: 500; }

/* line 643, static/css/style.scss */
.chosefilebuttons:hover {
  background-color: #F6F3EB;
  color: #384D9D;
  font-weight: 800; }

/* line 649, static/css/style.scss */
.hiddenuploadbutton {
  visibility: hidden; }

/* line 657, static/css/style.scss */
.fulluploadcontainer {
  position: relative;
  right: 50px; }

/* line 662, static/css/style.scss */
.signupform {
  font-family: black-burger; }

/* line 665, static/css/style.scss */
.signupformtitle {
  font-family: black-burger; }

/* line 669, static/css/style.scss */
#id_food_category {
  width: 150px; }

/* line 673, static/css/style.scss */
.customfooderror {
  color: crimson;
  font-family: black-burger; }

/* line 682, static/css/style.scss */
#id_fooddata {
  width: 425px; }

/* line 686, static/css/style.scss */
.card-headermeat {
  background: limegreen; }

/* line 689, static/css/style.scss */
.card-headervegetable {
  background: fuchsia; }

/* line 692, static/css/style.scss */
.card-headerfish {
  background: cornflowerblue; }

/* line 695, static/css/style.scss */
.card-headerdairy {
  background: lightpink; }

/* line 698, static/css/style.scss */
.card-headergrain {
  background: deepskyblue; }

/* line 701, static/css/style.scss */
.card-headerother {
  background: salmon; }

/* line 704, static/css/style.scss */
.card-headerfruit {
  background: thistle; }

/* line 710, static/css/style.scss */
.confirmformbuttonyes {
  position: relative;
  top: 30px;
  border: 10px;
  border-radius: 10px;
  background-color: #384D9D;
  color: #F6F3EB;
  width: 600px;
  font-weight: 500; }

/* line 720, static/css/style.scss */
.confirmformbuttonyes:hover {
  background-color: #F6F3EB;
  text-decoration: none;
  color: #384D9D;
  font-weight: 800; }

/* line 728, static/css/style.scss */
.confirmformbuttonno {
  position: relative;
  top: 30px;
  border: 10px;
  border-radius: 10px;
  background-color: #384D9D;
  color: #F6F3EB;
  width: 600px;
  font-weight: 500; }

/* line 738, static/css/style.scss */
.confirmformbuttonno:hover {
  background-color: #F6F3EB;
  text-decoration: none;
  color: #384D9D;
  font-weight: 800; }

/* The switch - the box around the slider */
/* line 747, static/css/style.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
/* line 755, static/css/style.scss */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
/* line 762, static/css/style.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

/* line 774, static/css/style.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

/* line 786, static/css/style.scss */
input:checked + .slider {
  background-color: #384D9D; }

/* line 790, static/css/style.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #384D9D; }

/* line 794, static/css/style.scss */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
/* line 801, static/css/style.scss */
.slider.round {
  border-radius: 34px; }

/* line 805, static/css/style.scss */
.slider.round:before {
  border-radius: 50%; }

/* line 809, static/css/style.scss */
.col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/* line 816, static/css/style.scss */
.clear_shopping_list {
  visibility: hidden; }

/* line 820, static/css/style.scss */
.howitworks {
  font-family: black-burger;
  position: relative;
  left: 280px;
  color: #de3e44; }

/* line 827, static/css/style.scss */
.signuponlandingdiv {
  position: relative;
  left: 210px;
  font-family: black-burger; }

/* line 833, static/css/style.scss */
.shoppinglistitem {
  background-color: #384D9D;
  border-radius: 5px;
  color: #F6F3EB;
  font-family: black-burger; }

/* line 839, static/css/style.scss */
.shoppinglistitem:hover {
  color: #384D9D;
  background-color: #F6F3EB; }

/* line 845, static/css/style.scss */
#id_foods {
  font-family: black-burger; }

/* line 850, static/css/style.scss */
label {
  font-family: black-burger; }

/* line 854, static/css/style.scss */
.confirmimage {
  position: relative;
  left: 260px; }

/* line 859, static/css/style.scss */
.signupbuttondiv {
  position: relative;
  left: 25px; }

/* line 864, static/css/style.scss */
.errorlist {
  display: none; }

/* line 868, static/css/style.scss */
.fridgflipatlogin {
  position: relative;
  right: 300px;
  bottom: 30px; }

/* line 874, static/css/style.scss */
#id_foods {
  position: relative;
  top: 10px;
  left: 10px;
  width: 400px; }

/* line 881, static/css/style.scss */
.openfridgebuttoncatagory {
  position: relative;
  left: 200px; }

/* line 887, static/css/style.scss */
#timefridgenavbox {
  display: none;
  font-size: 12px;
  width: 180px; }

/* line 894, static/css/style.scss */
#timefridgenav:hover + #timefridgenavbox {
  display: block;
  position: absolute;
  top: 150px;
  left: 1000px; }

/* line 902, static/css/style.scss */
#categoryfridgenavbox {
  display: none;
  font-size: 12px;
  width: 180px; }

/* line 909, static/css/style.scss */
#categoryfridgenav:hover + #categoryfridgenavbox {
  display: block;
  position: absolute;
  top: 180px;
  left: 1000px; }

/* line 916, static/css/style.scss */
#scan_in_progressnavbox {
  display: none;
  font-size: 12px;
  width: 180px; }

/* line 923, static/css/style.scss */
#scan_in_progressnav:hover + #scan_in_progressnavbox {
  display: block;
  position: absolute;
  top: 180px;
  left: 1000px; }

/* line 930, static/css/style.scss */
#shoppingnavbox {
  display: none;
  font-size: 12px;
  width: 180px; }

/* line 937, static/css/style.scss */
#shoppingnav:hover + #shoppingnavbox {
  display: block;
  position: absolute;
  top: 180px;
  left: 1000px; }

/* line 943, static/css/style.scss */
#upload_pagenavbox {
  display: none;
  font-size: 12px;
  width: 180px; }

/* line 950, static/css/style.scss */
#upload_pagenav:hover + #upload_pagenavbox {
  display: block;
  position: absolute;
  top: 180px;
  left: 1000px; }

/* line 956, static/css/style.scss */
#eatennavbox {
  display: none;
  font-size: 12px;
  width: 180px; }

/* line 963, static/css/style.scss */
#eatennav:hover + #eatennavbox {
  display: block;
  position: absolute;
  top: 180px;
  left: 1000px; }

/* line 970, static/css/style.scss */
#custom_foodsnavbox {
  display: none;
  font-size: 12px;
  width: 180px; }

/* line 977, static/css/style.scss */
#custom_foodsnav:hover + #custom_foodsnavbox {
  display: block;
  position: absolute;
  top: 180px;
  left: 1000px; }

/* line 983, static/css/style.scss */
#fridge_managernavbox {
  display: none;
  font-size: 12px;
  width: 180px; }

/* line 990, static/css/style.scss */
#fridge_managernav:hover + #fridge_managernavbox {
  display: block;
  position: absolute;
  top: 180px;
  left: 1000px; }

/* line 997, static/css/style.scss */
.deletefoodbutton {
  position: relative;
  left: 150px; }

/* line 1002, static/css/style.scss */
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

/* line 1009, static/css/style.scss */
.containernav div {
  width: 147px;
  height: 20px;
  display: inline-block; }

@media screen and (max-width: 300px) {
  /* line 1016, static/css/style.scss */
  .containernav {
    display: flex;
    flex-flow: column; }
  /* line 1017, static/css/style.scss */
  .nine {
    order: 1; }
  /* line 1018, static/css/style.scss */
  .eight {
    order: 2; }
  /* line 1019, static/css/style.scss */
  .seven {
    order: 3; }
  /* line 1020, static/css/style.scss */
  .six {
    order: 4; }
  /* line 1021, static/css/style.scss */
  .five {
    order: 5; }
  /* line 1022, static/css/style.scss */
  .four {
    order: 6; }
  /* line 1023, static/css/style.scss */
  .three {
    order: 7; }
  /* line 1024, static/css/style.scss */
  .two {
    order: 8; }
  /* line 1025, static/css/style.scss */
  .one {
    order: 9; } }

/* line 1028, static/css/style.scss */
#wholefridge {
  position: relative;
  top: 120px; }

/* line 1034, static/css/style.scss */
.openfridgebutton div {
  position: relative;
  top: 40px;
  width: 300px;
  height: 200px;
  display: inline-block; }

@media screen and (max-width: 400px) {
  /* line 1043, static/css/style.scss */
  .openfridgebutton {
    display: flex;
    flex-flow: column; } }

@media screen and (max-width: 400px) {
  /* line 1047, static/css/style.scss */
  #timefridgenavbox {
    visibility: hidden; }
  /* line 1048, static/css/style.scss */
  #categoryfridgenavbox {
    visibility: hidden; }
  /* line 1049, static/css/style.scss */
  #scan_in_progressnavbox {
    visibility: hidden; }
  /* line 1050, static/css/style.scss */
  #upload_pagenavbox {
    visibility: hidden; }
  /* line 1051, static/css/style.scss */
  #eatennavbox {
    visibility: hidden; }
  /* line 1052, static/css/style.scss */
  #custom_foodsnavbox {
    visibility: hidden; }
  /* line 1053, static/css/style.scss */
  #fridge_managernavbox {
    visibility: hidden; } }
