pyzbar
opencv-python
django
django_compressor
-i https://pypi.org/simple/
click==7.0
itsdangerous==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
pillow==8.2.0
pytesseract==0.2.6
werkzeug==0.15.3
django_pyscss
django-libsass
dj-database-url==0.4.2
gunicorn==19.7.1
psycopg2==2.7.3.2
pytz==2017.3
whitenoise==3.3.1
tesseract

cmake==0.9.0
# dlib==19.9.0
imutils==0.4.5
numpy==1.13.3
# opencv-python==3.4.0.12
# Pillow==4.0.0
# pytz==2017.3
# six==1.10.0
# tornado==4.2
