{% extends 'base.html' %}

{% block content %}

<br>


{% load crispy_forms_tags %}
<div class = "login">
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form method="POST" class="form">
      {% csrf_token %}
      {{ form | crispy }}
            <br>
      <button type="submit" class="login_button">LOGIN</button>
  </form>
<br>
        <h2>Not a user?</h2>
        <br>
        <div class="button">
                        <div>
                            <a class="center"><a href="{% url 'foodshow:signup' %}" class="pushme"> <span
                                    class="inner"> sign up here</span></a>
                            </a>
                        </div>

                    </div>
</div>
</div>

<br>


</div>

{% endblock %}







