$main: #384D9D;
$back: #F6F3EB;

.pushme{
  position: relative;
  font-weight: 700;
  background-color: $main;
  border-radius: 0.6em;
  display: inline-block;
  margin: 0em;
  .inner{
    display: inline-block;
    background-color: $back;
    border-radius: 0.6em;
    border: 0.3em solid $main;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    transform: translate3d(0.6em, -0.6em, 0);
    transition: transform 240ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-delay: 220ms;
  }
  &:active, &.click{
    .inner{
      transform: translate3d(0, 0, 0);
      transition: transform 120ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
  }
}

$sans: 'Open Sans', sans-serif;


.uploadpushme{
  position: relative;
  font-weight: 700;
  background-color: $main;
  text-align: center;
  border-radius: 0.6em;
  display: inline-block;
  margin: 0em;
  .uploadinner{
    display: inline-block;
    background-color: $back;
    border-radius: 0.6em;
    border: 0.3em solid $main;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    transform: translate3d(0.6em, -0.6em, 0);
    transition: transform 240ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-delay: 220ms;
  }
  &:active, &.click{
    .uploadinner{
      transform: translate3d(0, 0, 0);
      transition: transform 120ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
  }
}



body{
  background: $back !important;
  font-family: black-burger !important;
  color: $main !important;
  font-size: 5vh;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  text-align: center;
  transform: translate3d(-50%,-50%,0);
}

.sig{
  position: fixed;
  bottom: 5px;
  right: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  font-family: sans-serif;
  color: rgba(0,0,0,0.4);
}

.button{
  position: absolute;
  left: 7%;
}

.uploadpagebutton{
  float: left ;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  position: relative;
}
.ocrloader {
  width: 200px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  backface-visibility: hidden;
  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(45, 183, 183, 0.54);
    z-index: 1;
    transform: translateY(135%);
    animation: move 1.0s cubic-bezier(0.15, 0.44, 0.76, 0.64);
    animation-iteration-count: infinite;
  }
  > div {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48%;
    backface-visibility: hidden;
  }
  i {
    display: block;
    height: 1px;
    background: #000;
    margin: 0 auto 2px;
    margin: 0 auto 2.2px;
    backface-visibility: hidden;
    &:nth-child(2) { width: 75%; }
    &:nth-child(3) { width: 81%; }
    &:nth-child(4) { width: 87%; }
    &:nth-child(6) { width: 71%; }
    &:nth-child(7) { width: 81%; }
    &:nth-child(8) { width: 65%; }
    &:nth-child(9) { width: 83%; }
    &:nth-child(10) { width: 75%; }
    &:nth-child(12) { width: 86%; }
    &:nth-child(14) { width: 65%; }
    &:nth-child(16) { width: 75%; }
    &:nth-child(18) { width: 83%; }
  }
  &:before,  &:after, em:after, em:before {
    border-color: #000;
    content: "";
    position: absolute;
    width: 19px;
    height: 16px;
    border-style: solid;
    border-width: 0px;
  }
  &:before {
    left: 0;
    top: 0;
    border-left-width: 1px;
    border-top-width: 1px;
  }
  &:after {
    right: 0;
    top: 0;
    border-right-width: 1px;
    border-top-width: 1px;
  }
  em:before {
    left: 0;
    bottom: 0;
    border-left-width: 1px;
    border-bottom-width: 1px;
  }
  em:after {
    right: 0;
    bottom: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
  }
}

@keyframes move {
  0%, 100% { transform: translateY(490%); }
  50% { transform: translateY(0%); }
  75% { transform: translateY(272%); }
}

a {
  color: $main;
}


.card{
  background: $back !important;
  border-radius: 0.6em;
  border: 0.1em solid $main;
  text-align: center;
}
.btn{
  color: $main;
  font-weight: bold;
}
.card-body{
  font-size: 15px;
}

.eatencentral{
  text-align: center;
}

.card-headerEatme {
  background: limegreen;
}
.card-headerEat {
  background: fuchsia;
}
.card-header2 {
  background: cornflowerblue;
}
.card-header3 {
  background: lightpink;
}
.card-header4 {
  background: deepskyblue;
}
.card-header5 {
  background: salmon;
}
.card-header6 {
  background: thistle;
}
.card-header7 {
  background: lightpink;
}
.card-header8 {
  background: peru;
}
.card-headerOver {
  background: snow;
}


.eatbutton{
  visibility: hidden;
}

.showingeatbutton{
    font-weight: 700;
  background-color: $back;

text-transform: uppercase;

padding: 20px;
border: 4px solid $main !important;
border-radius: 20px;
display: inline-block;
transition: all 0.3s ease 0s;
}


.showingeatbutton:hover{
  color: #494949 !important;
border-radius: 50px;
border-color: #494949 !important;
transition: all 0.3s ease 0s;
}



/* Once the browser targets #eat, the animation is triggered */

#eat:target {
  animation: play .4s steps(10) infinite;
}

.monster {
  width: 190px;
  height: 240px;
  margin: 40px auto;
  background: url('https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/blog/monster.png') left center;
}

@keyframes play {
	100% { background-position: -1900px; }
}

.foodicon{
  width: 35px;
  height: 35px;
}



.upload{
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 0 hsla(0,0%,0%,.075);
  font-size: 30px;
  background: {
      image: linear-gradient(to bottom, #b6c5cc 50%, #c0e8b9 50%);
      position: 0% 0%;
      size: 230%;
  }
  background-color: #b6c5cc;
  background-repeat: no-repeat;
  border: 6px solid #fff;
  border-radius: 50px;
  box-shadow: inset 0 2px 0 hsla(0,0%,0%,.1), 0 3px 0 hsla(0,0%,0%,.075);
  cursor: pointer;
  height: 80px;
  left: 50%;
  margin: -43px;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 80px;
  transition: background 3s ease-in-out;
}

.uploading{
  background-position: 0% 100%;
}

span1{
  margin-top: 16px;
  margin-left: -3px;
  transition: 0.1s 2s ease-in-out;
}

.ok{
  position: absolute;
  left: 22px;
  top: 50px;
  opacity: 0;
}

.bounce{
  animation: bounce 0.3s ease 2.5s forwards;
}

.arrow-out{
  top: -20px;
  visibility: hidden;
}

.upload_button{
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 0 hsla(0,0%,0%,.075);
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: #888;
  cursor: pointer;
  transition: 0.2s;

  &:active{
    box-shadow: 0 0 0;
    margin-top: 12px;
   }
}


@keyframes bounce{
  0%{
    top: 50px;
    opacity: 0;
  }
  80%{
    top: -5px;
  }
  100%{
    top: 0;
    opacity: 1;
  }
}


.login_button{
  border: 10px;
  border-radius: 10px;
  background-color:$main;
  color: $back;
  width: 425px;
  font-weight: 500;

}
.login_button:hover {
  background-color:$back;
  color: $main;
  font-weight: 800;
}

.signup_button{
  position: relative;
  top: 30px;
  border: 10px;
  border-radius: 10px;
  background-color:$main;
  color: $back;
  width: 425px;
  font-weight: 500;

}
.signup_button:hover {
  background-color:$back;
  color: $main;
  font-weight: 800;
}


.customfoodaddbutton{
  position: relative;
  top: 30px;
  border: 10px;
  border-radius: 10px;
  background-color:$main;
  color: $back;
  width: 425px;
  font-weight: 500;
}
.customfoodaddbutton:hover {
  background-color:$back;
  color: $main;
  font-weight: 800;
}

.customfoodsheader{
      font-family: black-burger;
      color: $main;
}





.delete_foods{
  visibility: hidden;
}


@font-face{
  font-family: 'MyWebFont';
  src: url('../font/webfont.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'black-burger';
  src: url('../font/black-burger/black-burger.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'noot';
  src: url('../font/Noot.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
}

.password-control-login{
    font-family: MyWebFOnt;
  width: 425px;
}

.username-control-login{
  width: 425px;
font-family: black-burger;
}

.usernametag{
    font-family: black-burger;
    position: relative;

  top: 0px;
  left: 135px;
}

.passwordtag{
    font-family: black-burger;
    position: relative;

  top: 0px;
  left: 135px;
}

.notausertag{
   position: relative;
   top: 0px;
  left: 110px;
}

.signup_username{
      font-family: black-burger;
}
.signup_email{
        font-family: black-burger;
}

.signup_password1{
      font-family: MyWebFOnt;
}

.signup_password2{
      font-family: MyWebFOnt;
}


.nav-logout-button{
  position: relative;
  top: 0px;
  left: 100px;
  border: 10px;
  border-radius: 10px;
  background-color:$main;
  color: $back;
  width: 425px;
  font-weight: 500;
  font-size: 12px;
  font-family: black-burger;
}
.nav-logout-button:hover{
  background-color:$back;
    text-decoration: none;
  color: $main;
  font-weight: 800;
}


li {
  display: inline;
}

.clear-custom-foods-added{
    visibility: hidden;
}

.hideeatenid{
  visibility: hidden;
}
.foodnameinfridge{
          font-family: black-burger;
    color: #5c913b;
  font-size: 20px;
}

.whenyouboughtit{
  position: relative;
  right:100px;
  color: #de3e44;
}

.showingeatbutton{
  position: relative;
  bottom:50px;
}

.whenyouboughtitreasult{
    position: relative;
  left:90px;
  bottom: 30px;
}

.fridgeitemcontainer{
  border:2px;
  border-style:solid;
  border-color: $main;
  border-radius: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  height:150px;
}

.username-control-login{
  border-radius: 10px;

}

.password-control-login{
    border-radius: 10px;
}

.signup_username{
      border-radius: 10px;
    width: 425px;
}
.signup_email{
      border-radius: 10px;
    width: 425px;

}
.signup_password1{
      border-radius: 10px;
    width: 425px;
  font-family: MyWebFont;

}
.signup_password2{
      border-radius: 10px;
    width: 425px;
}

.uploadtitlte{
  font-family: black-burger;
}
.chosefilebuttons{
    position: relative;
  top: 30px;
  border: 10px;
  border-radius: 10px;
  background-color:$main;
  color: $back;
  width: 600px;
  font-weight: 500;
}


.chosefilebuttons:hover {
  background-color:$back;
  color: $main;
  font-weight: 800;
}

.hiddenuploadbutton{
  visibility: hidden;
}

.upload{

}

.fulluploadcontainer{
  position: relative;
  right:50px
}

.signupform{
  font-family: black-burger;
}
.signupformtitle{
    font-family: black-burger;
}

#id_food_category{
  width: 150px;
}

.customfooderror{
  color: crimson;
  font-family: black-burger;
}

label{

}

#id_fooddata{
  width: 425px;
}

.card-headermeat{
  background: limegreen;
}
.card-headervegetable{
  background: fuchsia;
}
.card-headerfish{
  background: cornflowerblue;
}
.card-headerdairy{
  background: lightpink;
}
.card-headergrain{
  background: deepskyblue;
}
.card-headerother{
  background: salmon;
}
.card-headerfruit{
  background: thistle;
}

.openfridgebutton{
  position: relative;
  left:270px;
}

.confirmformbuttonyes{
    position: relative;
  top: 30px;
  border: 10px;
  border-radius: 10px;
  background-color:$main;
  color: $back;
  width: 600px;
  font-weight: 500;
}
.confirmformbuttonyes:hover{
    background-color:$back;
    text-decoration: none;
  color: $main;
  font-weight: 800;
}


.confirmformbuttonno{
    position: relative;
  top: 30px;
  border: 10px;
  border-radius: 10px;
  background-color:$main;
  color: $back;
  width: 600px;
  font-weight: 500;
}
.confirmformbuttonno:hover{
    background-color:$back;
    text-decoration: none;
  color: $main;
  font-weight: 800;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $main;
}

input:focus + .slider {
  box-shadow: 0 0 1px $main;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.col-centered{
display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clear_shopping_list{
  visibility: hidden;
}

.howitworks{
  font-family: black-burger;
  position: relative;
  left: 280px;
  color: #de3e44;
}

.signuponlandingdiv{
  position: relative;
  left: 210px;
  font-family: black-burger;
}

.shoppinglistitem{
  background-color: $main;
  border-radius: 5px;
  color: $back;
  font-family: black-burger;
}
.shoppinglistitem:hover{
    color: $main;
  background-color: $back;

}

#id_foods{
  font-family: black-burger;

}

label{
    font-family: black-burger;
}

.confirmimage{
  position: relative;
  left: 260px;
}

.signupbuttondiv{
    position: relative;
  left: 45px;
}

.errorlist{
  display: none;
}

.fridgflipatlogin{
  position: relative;
  right: 300px;
  bottom: 30px;
}

#id_foods{
  position: relative;
  top:10px;
  left:10px;
  width: 400px;
}

.openfridgebuttoncatagory{
  position: relative;
  left:200px;
}


#timefridgenavbox{
  display: none;
  font-size: 12px;
  width:180px;
  color: deeppink;
}

#timefridgenav:hover+#timefridgenavbox{
  display: block;
    position: absolute;
   top: 50px;
  left: 80px;
}


#categoryfridgenavbox{
  display: none;
  font-size: 12px;
  width:180px;
  color: seagreen;
}

#categoryfridgenav:hover+#categoryfridgenavbox{
  display: block;
    position: absolute;
   top: 50px;
  left: 210px;
}


#scan_in_progressnavbox{
  display: none;
  font-size: 12px;
  width:500px;
  color: rebeccapurple;
}

#scan_in_progressnav:hover+#scan_in_progressnavbox{
  display: block;
    position: absolute;
   top: 50px;
  left: 310px;
}


#shoppingnavbox{
  display: none;
  font-size: 12px;
  width:500px;
  color: midnightblue;
}

#shoppingnav:hover+#shoppingnavbox{
  display: block;
    position: absolute;
   top: 50px;
  left: 400px;
}

#upload_pagenavbox{
  display: none;
  font-size: 12px;
  width:500px;
  color: teal;
}

#upload_pagenav:hover+#upload_pagenavbox{
  display: block;
    position: absolute;
   top: 50px;
  left: 500px;
}

#eatennavbox{
  display: none;
  font-size: 12px;
  width:500px;
  color: darkviolet;
}

#eatennav:hover+#eatennavbox{
  display: block;
    position: absolute;
   top: 50px;
  left: 700px;
}


#custom_foodsnavbox{
  display: none;
  font-size:12px;
  width:500px;
  color: darkslategray;
}

#custom_foodsnav:hover+#custom_foodsnavbox{
  display: block;
    position: absolute;
   top: 50px;
  left: 800px;
}

#fridge_managernavbox{
  display: none;
  font-size: 12px;
  width:500px;
  color: darkred;
}

#fridge_managernav:hover+#fridge_managernavbox{
  display: block;
    position: absolute;
   top: 50px;
  left: 900px;
}


.deletefoodbutton{
  position: relative;
  left:150px;
}

html {
  width:100%;
     height:100%;
  overflow-x: hidden;
}




