{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="row">
            {#            <div class="col-3">#}
            {#                <br>#}
            {#                <div>#}
            {#                    <div class="uploadpagebutton">#}
            {#                        <a class="center"><a class="uploadpushme" href="{% url 'foodshow:upload_page' %}"> <span#}
            {#                                class="uploadinner">Scan#}
            {#                            your foods!#}
            {##}
            {#                            <div class="ocrloader">#}
            {#                                <em></em>#}
            {#                                <div>#}
            {#                                    <i></i><i></i><i></i><i></i><i></i><i></i><i></i>#}
            {#                                    <i></i><i></i><i></i><i></i><i></i><i></i><i></i>#}
            {#                                    <i></i><i></i><i></i>#}
            {#                                </div>#}
            {#                                <span></span>#}
            {#                            </div>#}
            {#                        </a>#}
            {#                        </a>#}
            {#                    </div>#}
            {#                    </span>#}
            {#                </div>#}
            {#                <br>#}
            {#                <br>#}
            {#                <br>#}
            {#                <br>#}
            {#                <br>#}
            {#                <br>#}
            {#                <div class="button">#}
            {#                    <div>#}
            {#                        <a class="center"><a href="{% url 'foodshow:eaten' %}" class="pushme"> <span#}
            {#                                class="inner">Eaten Foods</span></a>#}
            {#                        </a>#}
            {#                    </div>#}
            {##}
            {#                </div>#}
            {#                <br>#}
            {#                <br>#}
            {#                <br>#}
            {#                <br>#}
            {#                <br>#}
            {##}
            {#            </div>#}
            {#        <div class="col-1">#}
            {#        </div>#}
            <div class="col-12">

                <br>
                <div class="openfridgebutton">
                    <div class="button">
                        <a class="center"><a class="pushme"
                                             onclick="document.getElementById('primaryButton').click()"> <span
                                class="inner">Open the time fridge!</span></a>
                        </a>
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="accordion" id="accordionExample">

                    {% for i in day_list %}

                        <div class="card">
                            <div class="card-header{{ i }}" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" id="primaryButton" type="button"
                                            data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">

                                        {{ i }}


                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">

                                    {% for food in food_list %}
                                        {% if food.days_left == i %}
                                            <div class="fridgeitemcontainer">
                                                <div class="foodnameinfridge">{{ food.foodname }}</div>
                                                <div class="whenyouboughtit">When you bought it:</div>
                                                <div class="whenyouboughtitreasult">{{ food.scanneddate }}
                                                    <img src="media/food_icons/{{ food.food_image }}" class="foodicon">
                                                </div>

                                                <form action="{% url 'foodshow:index' %}" method="post" name="submit">
                                                    {% csrf_token %}
                                                    <input class="eatbutton" type="Submit" name="submit"
                                                           value="{{ food.fridge_food_id }}"
                                                           id="{{ food.fridge_food_id }}">

                                                </form>
                                                <button for="eating" class='showingeatbutton' id="showingeatbutton"
                                                        class="showingeatbutton"
                                                        onclick="document.getElementById({{ food.fridge_food_id }}).click()">
                                                    Eat
                                                </button>
                                                {% comment %}<div>
                                                        <div id="eat" class="monster"></div>

                                                        <a href="#eat">Eat</a>
                                                        <a href="#">Stop Eating</a>
                                                    </div>{% endcomment %}


                                            </div>

                                        {% elif food.days_left >= 8 and i >= "over 8 days" %}
                                            <div class="fridgeitemcontainer">
                                                <div class="foodnameinfridge">{{ food.foodname }}</div>
                                                <div class="whenyouboughtit">When you bought it:</div>
                                                <div class="whenyouboughtitreasult">{{ food.scanneddate }}
                                                    <img src="media/food_icons/{{ food.food_image }}" class="foodicon">
                                                </div>

                                                <form action="{% url 'foodshow:index' %}" method="post" name="submit">
                                                    {% csrf_token %}
                                                    <input class="eatbutton" type="Submit" name="submit"
                                                           value="{{ food.fridge_food_id }}"
                                                           id="{{ food.fridge_food_id }}">

                                                </form>
                                                <button for="eating" id="showingeatbutton"
                                                        class="showingeatbutton"
                                                        onclick="document.getElementById({{ food.fridge_food_id }}).click()">
                                                    Eat
                                                </button>
                                                {% comment %}<div>
                                                        <div id="eat" class="monster"></div>

                                                        <a href="#eat">Eat</a>
                                                        <a href="#">Stop Eating</a>
                                                    </div>{% endcomment %}


                                            </div>


                                        {% endif %}


                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>
    <br>



{% endblock %}