{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <br>
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-8">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <br>
                    <input type="submit" value="Submit" class="customfoodaddbutton">

                </form>
                <br>
                {% for obj in shopping_list %}
                    <form class="button" method="post" name="delete_from_shopping_list">
                        {% csrf_token %}
                        <button type="submit" value="{{ obj }}" name="delete_from_shopping_list">{{ obj }}</button>
                    </form>
                    <br>
                {% endfor %}

            <br>
             <p>have you been shopping now and would you like to add these food/s to your fridge?</p>

            <form method="post" class="clear_shopping_list" name="clear_shopping_list">
                    {% csrf_token %}
                    <input type="submit" value="submit" name="clear_shopping_list" id="clear_shopping_list">
                </form>

                    <form method=post name="confirmform" action="fridge_filler/{{ shopping_list }}">
                                        {% csrf_token %}
                        <button type=submit value="yes" name="yes" class="confirmformbuttonyes" onclick="document.getElementById('clear_shopping_list').click()" >YES</button>

                    </form>

            </div>
            <div class="col-2">
            </div>
        </div>
    </div>




{% endblock %}