{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
    <div class ="row">
    <div class="col-3">
    </div>
    <div class="col-6">
<h3>Sign up to give!</h3>
<form method="post">
  {% csrf_token %}
  {{ form | crispy }}
    <button type="submit" class="singup_button">SIGN UP</button>

</form>
        <br>
        <h2>already a user?</h2>
<br>
        <div class="button">
                        <div>
                            <a class="center"><a href="{% url 'foodshow:login' %}" class="pushme"> <span
                                    class="inner"> login here</span></a>
                            </a>
                        </div>

                    </div>
    </div>
    </div>

{% endblock %}
